{{define "base/footer.tmpl"}}
</div>
</div>
</div>
</div>
<footer class="align-items-center fixed-bottom justify-content-between">
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <i class="fa fa-cogs"> 2023 Листы ожидания</i>
    </div>
</footer>

</body>

</html>
{{end}}